{
  extends: [
    "zavatta",
    "zavatta-react",
    "prettier",
    "prettier/react",
  ],
  rules: {
    "arrow-parens": 0,
    "no-inline-comments": 0,
    "semi": [2, "never"],
    "strict": [2, "never"],
    "comma-dangle": 0,
    "no-undefined": 0,
  },
  globals: {
    "TimelineMax": false,
    "chrome": false,
    "Promise": false,
  },
}
