{
  "extends": [
    "zavatta",
    "zavatta-react"
  ],
  "rules": {
    "react/jsx-max-props-per-line": [2, { maximum: 3 }],
    "arrow-parens": 0,
    "no-inline-comments": 0,
    "semi": [2, "never"],
    "strict": [2, "never"],
    "no-undefined": 0,
    "no-console": [0]
  },
  "globals": {
    "TimelineMax": false,
    "chrome": false
  }
}
