@import 'reset';

$breakpoint: 1300px;

$cb05: rgba(black, 0.05);
$cb1: rgba(black, 0.1);
$cb2: rgba(black, 0.2);
$cb3: rgba(black, 0.3);
$cb4: rgba(black, 0.4);
$cb6: rgba(black, 0.6);
$cb8: rgba(black, 0.8);

$clight: darken(white, 5);
$cbg: darken(white, 15);

@import 'buttons';

::-webkit-scrollbar {
	width:  2px;
}

::-webkit-scrollbar-thumb {
	background: $cb3;
}

::-webkit-scrollbar-track {
	background: $cb1;
}

// utility

.z {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s {
  border: 2px solid transparent;
  &:active {
    border-color: $cb2;
  }
  &:focus {
    border-color: $cb1;
  }
}

html, body { height: 100%; }

body {
  font-size: 14px;
  font-family: monospace;
  color: $cb6;
  padding: 1rem;
  ::selection {
    background-color: rgba(black, 0.25);
    color: rgba(white, 0.3);
  }
}

.App {
  position: relative;
  height: 100%;
  overflow: hidden;
  align-items: flex-start;
  display: flex;
  overflow-y: auto;
  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
    align-items: center;
  }

  background: $cbg;
}

.IconButton {
  @extend .btn;
  @extend .z;
  @extend .s;
  position: fixed;
  bottom: 4px;
  left: 4px;
  height: 4rem;
  width: 4rem;

  color: $cb6;

  i {
    font-size: 1rem;
  }

  &:hover {
    background: $cb1;
  }

  &.success {
    background: #518C3E;
    color: $clight;
  }
}

.Widget-container {
  position: relative;
  border: 1px solid transparent;
  user-select: none;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: default;
  border-radius: 5px;

  &.edit {
    border-color: $cb1;
  }
}

.Widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  width: 100%;

  .big-val {
    font-size: 3rem;
    margin: 1em 0;
  }

  .boris {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

}

.widget-link {
  color: $cb6;
  &:hover {
    color: $cb8;
  }
}

.ctx {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 0.5rem;
}

.gallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mende {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1 {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  > span {
    font-size: 1.5rem;
  }
}

.ctx-btn {
  @extend .btn;
  @extend .s;
  padding: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  &:hover {
    background: $cb1;
  }
}

.Col {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  margin-bottom: 1rem;
  @media screen and (max-width: $breakpoint) {
    flex-grow: 0;
    flex-basis: auto;
  }
}

.add-btn {
  @extend .btn;
  padding: 1rem;
  background: rgba(white, 0.4);
  > i {
    margin-right: 0.5rem;
  }
  &:hover {
    background: rgba(white, 0.7);
  }
}

.loading {
  @extend .z;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.02);
}

.Loader {
  font-size: 1.5rem;
  color: $cb2;
  animation: spin 3s infinite;
}

@keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
