@import 'reset';

$breakpoint: 1300px;

$cb05: rgba(black, 0.05);
$cb1: rgba(black, 0.1);
$cb2: rgba(black, 0.2);
$cb3: rgba(black, 0.3);
$cb4: rgba(black, 0.4);
$cb6: rgba(black, 0.6);
$cb8: rgba(black, 0.8);

$clight: darken(white, 5);
$clight2: darken(white, 2);
$cbg: darken(white, 15);

::-webkit-scrollbar {
	width:  3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
	background: $cb3;
  &:hover {
    cursor: pointer;
    background: #555;
  }
}

::-webkit-scrollbar-track {
	background: $cb1;
}

// utility

.z {
  display: flex;
  align-items: center;
  justify-content: center;
}

.za {
  display: flex;
  align-items: center;
}

.s {
  border: 2px solid transparent;
  &:active {
    border-color: $cb2;
  }
  &:focus {
    border-color: $cb1;
  }
}

html, body { height: 100%; }

body {
  display: flex;
  flex-direction: vertical;
  font-size: 14px;
  font-family: monospace;
  color: $cb6;
  padding: 1rem;
  border: 2px solid $cb1;
  ::selection {
    background-color: rgba(black, 0.25);
    color: rgba(white, 0.3);
  }
}

#root {
  flex-grow: 1;
  overflow: auto;
}

.App {
  position: relative;
  height: 100%;
  overflow: hidden;
  align-items: flex-start;
  display: flex;
  overflow-y: auto;
  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
    align-items: center;
  }

}

.btn-def {
  @extend .s;
  &:hover {
    background: $cb1;
  }

  &.success {
    background: #518C3E;
    color: $clight;
    i { text-shadow: $cb2 0 2px; }
  }
}

.btn-oe {
  padding: 0.5em 1em;
  i {
    margin-right: 0.5em;
  }
}

.IconButton {
  @extend .btn;
  @extend .btn-def;
  @extend .z;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  height: 4rem;
  width: 4rem;

  color: $cb6;

  i {
    font-size: 1rem;
  }
}

.Widget-container {
  background: $cb05;
  position: relative;
  border: 2px solid transparent;
  user-select: none;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: default;

  &.edit {
    border-color: $cb1;
  }
}

.Widget {
  @extend .z;
  align-items: flex-start;
  position: relative;
  overflow-y: auto;
  width: 100%;

  .big-val {
    font-size: 3rem;
    margin: 1em 0;
  }

  .boris {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

}

.widget-link {
  color: $cb6;
  &:hover {
    color: $cb8;
  }
}

.ctx {
  position: absolute;
  top: -2px;
  left: 100%;
  margin-left: 2px;
}

.ctx-btn {
  @extend .btn;
  @extend .s;
  @extend .z;
  width: 1.5rem;
  height: 1.5rem;
  background: $cb1;
  &:hover {
    background: $cb1;
  }
}

.gallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mende {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1 {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  > span {
    font-size: 1.5rem;
  }
}

.Col {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  @media screen and (max-width: $breakpoint) {
    flex-grow: 0;
    flex-basis: auto;
  }
}

.add-btn {
  @extend .btn;
  @extend .btn-def;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background: rgba(white, 0.4);
  > i {
    margin-right: 0.5rem;
  }
}

.loading {
  @extend .z;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $cb1;
}

.Loader {
  font-size: 1.5rem;
  color: $cb2;
  animation: spin 3s infinite;
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to   { transform:rotate(360deg); }
}

.Modal {
  @extend .z;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: $cb2;
}

.PseudoModal {
  padding: 1rem;
  background: $clight2;
}

.Picker {
  .item {
    padding: 2rem;
  }
}

@import 'buttons';
@import 'widgets';
