@import 'reset';

$cb1: rgba(black, 0.1);
$cb2: rgba(black, 0.2);
$cb3: rgba(black, 0.3);
$cb6: rgba(black, 0.6);

$cbg: darken(white, 15);

@import 'buttons';

::-webkit-scrollbar {
	width:  5px;
}

::-webkit-scrollbar-thumb {
	background: $cb6;
}

::-webkit-scrollbar-track {
	background: transparent;
}

// utility

.z {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s {
  border: 2px solid transparent;
  &:active {
    border-color: $cb2;
  }
  &:focus {
    border-color: $cb1;
  }
}

html, body { height: 100%; }

body {
  font-family: monospace;
  color: $cb6;
  ::selection {
    background-color: rgba(black, 0.25);
    color: rgba(white, 0.3);
  }
}

.App {
  position: relative;
  height: 100%;
  overflow: hidden;

  background: $cbg;
}

.IconButton {
  @extend .z;
  @extend .s;
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 4rem;
  width: 4rem;

  color: $cb6;

  i {
    font-size: 1.5rem;
  }

  &:hover {
    background: $cb1;
  }
}

.Picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  overflow-y: auto;

  background: $cb1;
}

.box-container {
  margin: 1rem;
  padding: 1rem;
  background: $cbg;
  border: 1px dashed $cb3;
  user-select: none;
  cursor: move;

  h1 {
    padding-top: 1rem;
    font-weight: bold;
  }

  &:hover {
  }
}

.preview {
  min-width: 250px;
  min-height: 150px;
  border: 1px solid $cb1;
}
