.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  user-select: none;
}

.btn-advanced {

  @extend .btn;

  padding: 3px 4px;
  border: 2px solid rgba(black, .1);
  background: none;

  &:disabled {
    cursor: default;
  }

  &:hover:not(:disabled) {
    border-color: rgba(black, .6);
    background-color: rgba(black, .6);
    color: white;
  }

}

.btn-def {
  @extend .s;
  &:hover {
    background: $cb1;
  }

  &.success {
    background: #518C3E;
    color: $clight;
    i { text-shadow: $cb2 0 2px; }
  }
}

.btn-ui {
  @extend .btn;
  @extend .btn-def;
  padding: 1em;
  background-color: $cb1;
  border-color: $cb1;
  border-width: 1px;
  i {
    margin-right: 0.5rem;
  }
}

.btn-oe {
  cursor: pointer;
  padding: 0.5em 1em;
  i {
    margin-right: 0.5em;
  }
  &:hover {
    color: $cb6;
  }
}

.add-btn {
  @extend .btn;
  @extend .btn-def;
  padding: 0.5rem 1rem;
  color: $cb5;
  background: rgba(white, 0.4);
  > i {
    margin-right: 0.5rem;
  }
}

.IconButton {
  @extend .btn;
  @extend .btn-def;
  @extend .z;
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;

  color: $cb6;

  i {
    font-size: 1rem;
  }
}
