.xem {
  display: none;
}

.poulet {
  font-weight: bold;
}

.f {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fg {
  flex-grow: 1;
}

.nfs {
  flex-shrink: 0;
}

.fac {
  display: flex;
  align-items: center;
}

.fdc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.z {
  display: flex;
  align-items: center;
  justify-content: center;
}

.za {
  display: flex;
  align-items: center;
}

.s {
  border: 2px solid transparent;
  &:active {
    border-color: $cb15;
    &:focus { border-color: $cb1; }
  }
  &:focus {
    border-color: $cb2;
  }
}

@keyframes blink {
  50% { opacity: 0; }
}

.blink {
  animation: blink 1s step-start 0s infinite;
}
