.w-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-stack {

  font-size: 0.75rem;

  .question {

    cursor: pointer;

    > .side {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 5em;
      padding-right: 1em;
      flex-shrink: 0;
      font-size: 0.8rem;

      font-weight: bold;

      > .div {
        width: 1rem;
        margin: 5px 0;
        height: 2px;
        background: $cb1;
      }

      > .val i {
        margin-left: 0.5em;
      }
    }

    > .body {
      flex-grow: 1;
      background: $clight;
      padding: 1em;

      > .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        > .tag {
          font-size: 0.6rem;
          margin-top: 0.5em;
          margin-left: 0.5em;
          background: $cb1;
          padding: 2px;
        }
      }
    }

    & + .question {
      margin-top: 0.5em;
    }

    &:hover {
      .body {
        background: white;
      }
    }
  }

}

.github-repo {
  color: $cb6;
  text-decoration: none;
  padding: 10px;

  > .github-stars i {
    margin-right: 5px;
  }
  > .github-name {
    margin-left: auto;
  }

  &:hover {
    color: $cb4;
  }
}

.w-bitcoin {
  flex-direction: column;
  .bitcoin--title {
    span {
      font-size: 2.3em;
    }
    i {
      font-size: 1.3em;
    }
  }
  .bitcoin--update {
    margin-bottom: 10px;
  }
  .bitcoin--values {
    display: flex;
    justify-content: space-around;
    width: 100%;
    span i {
      margin-right: 5px;
    }
  }
}

.w-dribbble {
  position: relative;

  .dribbble-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.6);
    color: $cb6;
    opacity: 0;
    transition: opacity 250ms ease-in;
    flex-direction: column;
    > a {
      font-size: 1.5em;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 90%;
      text-align: center;
    }
    a {
      color: $cb8;
      &:hover {
        color: $cb6;
      }
    }
  }

  &:hover {
    .dribbble-overlay {
      opacity: 1;
    }
  }
}

.w-rss {
  .rss--main-title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .rss--meta {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .rss--entry {
    a {
      color: $cb8;
      text-decoration: none;
      &:hover {
        color: $cb6;
      }
    }
    & + .rss--entry {
      margin-top: 10px;
    }
  }
}
