.Widget {
  @extend .z;
  align-items: flex-start;
  overflow-y: auto;
  width: 100%;

  > div {
    width: 100%;
  }

  &.Bookmarks {
    align-items: center !important;
  }

  .big-val {
    font-size: 3rem;
    margin: 1em 0;
  }

  .boris {
    position: absolute;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }

  input[type=text] {
    width: 100%;
  }

}

.widget-link {
  color: $cb6;
  &:hover {
    color: $cb8;
  }
}

.w-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  .big-val i {
    margin-right: 10px;
  }
}

.w-stack {

  .question {

    cursor: pointer;

    > .side {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 5em;
      padding-right: 1em;
      flex-shrink: 0;
      font-size: 0.8rem;

      font-weight: bold;

      > .div {
        width: 1rem;
        margin: 5px 0;
        height: 2px;
        background: $cb1;
      }

      > .val i {
        margin-left: 0.5em;
      }
    }

    > .body {
      flex-grow: 1;
      background: $clight;
      padding: 1em;
      overflow: hidden;

      > .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        > .tag {
          font-size: 0.6rem;
          margin-top: 0.5em;
          margin-left: 0.5em;
          background: $cb1;
          padding: 2px;
        }
      }
    }

    & + .question {
      margin-top: 0.5em;
    }

    &:hover {
      .body {
        background: white;
      }
    }
  }

}

.w-github {
  .github-repo {

    border-bottom: 1px solid $cb05;
    display: flex;
    color: $cb6;
    text-decoration: none;
    padding: 0.5rem;

    > .github-stars {
      i {
        margin-left: 0.5rem;
      }
    }
    > .github-name {
      flex: auto;
    }

    &:hover {
      color: $cb4;
    }
  }
}

.w-crypto {

  > div {
    flex-direction: column;
  }

  .crypto--title {
    span:first-child {
      font-size: 2.3em;
    }
    span:last-child {
      margin-left: 0.3rem;
      font-size: 0.7rem;
    }
  }
  .crypto--update {
    margin-bottom: 10px;
  }
  .crypto--values {
    display: flex;
    justify-content: space-around;
    width: 100%;
    span i {
      margin-right: 5px;
    }
  }
}

.w-dribbble {

  flex: 1;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  .usr {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .dribbble-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(white, 0.6);
    color: $cb6;
    opacity: 0;
    transition: opacity 250ms ease-in;
    flex-direction: column;
    > a {
      width: 100%;
      @extend .z;
      padding: 1rem;
      flex-grow: 1;

      font-size: 1.5em;
      text-decoration: none;
    }
    a {
      color: $cb8;
      &:hover {
        color: $cb6;
      }
    }
  }

  &:hover {
    .dribbble-overlay {
      opacity: 1;
    }
  }
}

.w-rss {

  .rss--meta {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .rss--entry {
    a {
      color: $cb8;
      text-decoration: none;
      &:hover {
        color: $cb6;
      }
    }
    & + .rss--entry {
      margin-top: 10px;
    }
  }
}

.w-bookmarks {

  .bookmark-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 59px;
    a {
      font-size: 1.1rem;
      color: $blue;
      text-decoration: none;
      padding: 1rem;
      &:hover {
        color: rgba($blue, .8);
      }
    }
    & + .bookmark-new {
      margin-bottom: 1rem;
    }
  }

  .bookmark-edit-list {
    margin-bottom: 1rem;
    .ion-ios-trash-outline {
      font-size: 1.5rem;
    }
  }

}

.w-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .time {
    font-size: 2.3em;
  }
}

.w-timer {
  font-size: 2em;

  .counter {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    span span {
      color: rgba(black, 0.3);
    }
  }

}
